@using eCommerce.SharedLibrary
@model ProductDetailsDto
@{
    var totalRating = (Model.ProductRatings.Select(c => c.Rating).Sum() / Model.ProductRatings.Count) * 2 * 10;
    if (double.IsNaN(totalRating))
    {
        totalRating = 0;
    }
    var totalReview = Model.ProductRatings.Count;
}
<div class="container quickView-container">
    <div class="quickView-content">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="product-left">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            var product = Model.Images[i];
                            <a href="#@i" class="carousel-dot active">
                                <img src="@(ImageConstants.PRODUCTS+product.Image)">
                            </a>
                        }
                    </div>
                    <div class="product-right">
                        <div class="owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl" data-owl-options='{
	                        "dots": false,
	                        "nav": false,
	                        "URLhashListener": true,
	                        "responsive": {
	                            "900": {
	                                "nav": true,
	                                "dots": true
	                            }
	                        }
	                    }'>
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            var product = Model.Images[i];
                            <div class="intro-slide" data-hash="@i">
                                <img src="@(ImageConstants.PRODUCTS+product.Image)" alt="Image Desc">
                                <a href="@(ImageConstants.PRODUCTS+product.Image)" class="btn-fullscreen">
                                    <i class="icon-arrows"></i>
                                </a>
                            </div><!-- End .intro-slide -->                           
                        }                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <h2 class="product-title">@Model.ProductName</h2>
                <h3 class="product-price">$@Model.Price</h3>

                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: @totalRating%;"></div><!-- End .ratings-val -->
                    </div><!-- End .ratings -->
                    <span class="ratings-text">( @totalReview Reviews )</span>
                </div><!-- End .rating-container -->

                <p class="product-txt">@Model.Description.</p>

                @*<div class="details-filter-row details-row-size">
                    <label for="qty">Qty:</label>
                    <div class="product-details-quantity">
                        <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                    </div><!-- End .product-details-quantity -->
                </div>*@<!-- End .details-filter-row -->

               @* <div class="product-details-action">
                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                </div>*@

                <div class="product-details-footer">
                    <div class="product-cat">
                        <span>Category:</span>
                        <a href="#">@Model.CategoryName</a>
                    </div><!-- End .product-cat -->

                    <div class="social-icons social-icons-sm">
                        <span class="social-label">Share:</span>
                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
